.modal {
   position: fixed;
}
.modal-body h1 {
   font: none;
}
.modal-body .modalImage {
   border-radius: 1000px;
}
.modal-body .info {
   /* border: 1px solid green; */
   padding: 0px 10px 0px 15px;
}
.modal-body .info h1 {
   font-family: "Passion One", cursive !important;
   font-size: 2.4em;
   margin-top: 10px;
}
.modal-body .info p {
   font-family: "Kanit", sans-serif !important;
   /* font-size: 1.8em; */
}
.modal-body .info .card-btn {
   bottom: 0;
}
@media (max-width: 576px) {
   .modal {
      width: 330px;
      position: fixed;
      margin: 0 auto !important;
      max-width: unset !important;
      right: 0;
   }
   .modal-dialog {
      margin: 0 auto !important;
      text-align: center;
   }
}
