@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap");

*,
*::after,
*::before {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Raleway", sans-serif;
   /* font-family: "Roboto", sans-serif; */
}

body {
   background-color: #00a79d;
   padding-bottom: 40px;
}
.appName {
   margin: 0 auto;
   width: min(630px, 90vw);
   box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.5);
   border: 1px solid #343a40;
}
.appName .title {
   font-size: 2rem;
   color: #fff;
   font-weight: 600 !important;
}
form {
   border-radius: 8px;
   color: #000;
   box-shadow: 0 2px 4px 4px rgba(0, 0, 0, 0.5);
}
.input-group {
   padding: 20px;
}
.items {
   border-radius: 8px;
   overflow-y: auto !important;
}
.form-group {
   margin-bottom: 0;
}
.completedTodo {
   background-color: darkgray;
   text-decoration: line-through;
}
